[submodule "Bloco-6-HTML-e-CSS-Forms-Flexbox-e-Responsivo/exercise-tech-gallery"]
	path = Bloco-6-HTML-e-CSS-Forms-Flexbox-e-Responsivo/exercise-tech-gallery
	url = git@github.com:tryber/exercise-tech-gallery.git
