.cotumize-header {
  background-color: rgb(50, 52, 51);
}

.container {
  color: rgb(198, 194, 190);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#paragraph {
  color: rgb(50, 52, 51);
}

/* .item {
  
} */
