h1 {
    text-align: center;
  }

  #podium {
    border: solid red;
    height: 165px;
  }

  #premiacao {
    clear: both;
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    /* display: inline; */
    margin-left: 562px;
    float: none;
    border: solid;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    float: left;
    border: solid;
    margin-left: 257px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    float: right;
    border: solid;
    margin-right: 231px;
  }